# Python
venv/
__pycache__/
*.pyc
*.pyo

# Lambda packaging
package/
package2/
layer/
*.zip

# AWS
.aws/
trust-policy.json
response.json
transform-response.json
sample.parquet

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

#terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
# Lambda build artifacts
package_ingest/
package_transform/
lambda/*.zip
